
body {
    background-color: #E8F5E9; 
    font-family: 'Arial', sans-serif;
}


.search-container {
    text-align: center;
    padding: 20px;
}

h2 {
    color: #2E7D32; 
    font-family: 'Georgia', serif;
}


.search-box {
    padding: 10px;
    width: 250px;
    margin-right: 10;
    border-radius: 30px;
}
.filter-options {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-options label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.filter-options input {
    margin-right: 5px;
}

.dropdown-filters {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.dropdown-filters select {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #4CAF50;
}
.no-results {
    color: red;
    font-size: 18px;
    font-weight: bold;
}
